.nav-link.active {
    background-color: #23be0b !important; /* Green background */
    color: white !important; /* Black text color */
  }
  
  .nav-link {
    font-size: 14px;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: green; 
  }